$primary-one: hsla(200,55,55,1);
$primary-one: rgba(255,255,255,0.8);
$primary-one:#EEEEEE;

$primary-two: hsla(245,55,55,1);
$primary-two: rgba(0,0,0,0.9);

$font-color: lighten(#000,30%);
$font: 'Roboto', sans-serif;


*,
*::before,
*::after {
  box-sizing:border-box;
}

html {
    margin:0;
    padding:0;
}

body {
  margin: 0;
  background:$primary-one;
  font-family: $font;
  font-weight:400;
  color: $font-color;
}

h1 {
  font-size: 2.5em;
  text-align: center;
  font-family: Roboto, sans-serif;
  letter-spacing: 2px;
}
h2 {
  font-size: 2em;
  text-align: center;
  font-family: $font;
  letter-spacing: 2px;
}

.scrollbox {
    height:120vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

main {
  background-color:darken(skyblue,40%);
  // background-image:url(//unsplash.it/1000/1000);
  background-image: url("images/vincent-guth-uhoILl3HUZM-unsplash.jpg");
  background-blend-mode:multiply;
  background-size:cover;
  display:grid;
  place-items:center;
  display: flex;
  flex-flow: row wrap;
}

a {
    text-decoration: none;
} 

header {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    z-index:100;
    background:$primary-one;
}

.logo {
    $size:40px;
    width:$size*2;
    height:$size;
    background:$primary-two;
    border-top-left-radius: $size*2;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: $size*2;
    border-top-right-radius: 0;
    margin:1em auto 1em auto;
    transform:rotate(20deg);
}

nav {
  position:absolute;
  text-align:left;
  top:100%;
  left:0;
  background-color: $primary-one;
  width:100%;
  transition: transform .4s ease-in-out;
  transform: scale(1,0);
  transform-origin: top;
  a {
      font-size: 1rem;
      color: $font-color;
      text-transform: uppercase;
      opacity:0;
      transition:opacity 150ms ease-in-out;
      &:hover {
          color: $primary-two;
      }
    }
  ul {
      padding:0;
      margin:0;
      list-style:none;
  }
  li {
      margin-bottom:1em;
      margin-left:1em;
      
  }
}

.nav-toggle {
    position:absolute;
    display:none;
}

.nav-toggle-label {
    position:absolute;
    top:0;
    left:0;
    margin-left:1em;
    height:100%;
    display:flex;
    align-items:center;
}
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after, {
    display:block;
    background:$primary-two;
    height:2px;
    width:2em;
    border-radius:2px;
    position:relative;
}
.nav-toggle-label span::before,
.nav-toggle-label span::after, {
    content: '';
    position:absolute;
}
.nav-toggle-label span::before {
    bottom:7px;
}
.nav-toggle-label span::after {
    top:7px;
}
.nav-toggle:checked ~ nav {
    transform: scale(1,1);
    opacity:1;
}
.nav-toggle:checked ~ nav a {
    opacity:1;
    transition:opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width:800px) {
    .nav-toggle-label {
        display:none;
    }
    header {
        display:grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    }
    .logo {
        grid-column: 2 / 3;
    }
    nav {
        all: unset;
        grid-column: 3 / 4;
        display:flex;
        justify-content: flex-end;
        align-items:center;
    }
    nav ul {
        display:flex;
        justify-content: flex-end;
        
    }
    nav li {
        margin-left:3em;
        margin-bottom:0;
    }
    nav a {
        opacity:1;
        position:relative;
    }
    nav a:before {
        content:"";
        display:block;
        height:5px;
        background:$primary-two;
        border-radius:2px;
        position:absolute;
        bottom:-.25em;
        right:0;
        left:0;
        transform:scale(0,1);
        transition:transform ease-in-out 250ms;
    }
    nav a:hover::before {
        transform:scale(1,1);
    }
    
}

#welcome-section {
  /*background-color: $primary-two;*/
  margin-top: 80px;
  color: $primary-one;
  width: 100%;
  height: 100%;
  display: block;
}

section {
    margin-bottom:400px;
}

#projects {
  padding-top: 80px;
  height: 100%;
}
#projects-header {
  width: 500px;
  margin: 0 auto;
  color: $primary-one;
}

#projects-wrapper {
  display: flex;
  flex-flow: row wrap;
  // align-items: center;
  justify-content: center;
}
.project-tile {
  width: 400px;
}
.project-tile figure {
  box-shadow: 0 2px 10px hsla(0,0,0,0.5);
  border-radius:50%;    
  border:5px solid $primary-one;
  position:relative;
  width: 300px;
  height: 300px;
  background-color: $primary-one;
  display:grid;
  place-items:center;
  overflow:hidden;
  figcaption {
      font-size:1em;
      color: $primary-two;
      position:absolute;
      top:-40px;
      z-index:-10;
      background:$primary-one;
      width:100%;
      height:40px;
      text-align:center;
      display:grid;
      place-items:center;
      transition: transform 200ms ease-in, opacity 400ms ease-in;
      opacity:0;
      border-top:4px solid $primary-two;
      border-bottom:4px solid $primary-two;
  }
  &:hover figcaption {
      transform:translateY(75px) translateX(-50px) rotate(-30deg);
      z-index:10;
      opacity:0.8;
  }
  &:hover .screenshot {
      // filter:opacity(0.4);
      //filter:brightness(30%);
  }
}
.screenshot {
    transform:translate(-50%,-50%);
    position:absolute;
    top:50%;
    left:50%;
    width:100%;
    height:100%;
}


footer#contact {
  display: flex;
  height: 100px;
  background-color: $primary-one;
  justify-content: center;
  align-items: center;
}


.social {
  text-decoration: none;
  font-family: sans-serif;
  color: $primary-two;
  padding-right:20px;
  &:nth-child(5) {
      padding-right:0;
  }
  &:hover {
      // color: $primary-one;
      opacity:0.7;
  }
}


@media(max-width: 760px) {
    /* change font-size */
  h1 {
    font-size: 1.5em; 
  }
}